form{
    border: 5px solid black;
    width: 650px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: linear-gradient(to left, rgb(184, 3, 184),rgba(112, 112, 253, 0.979));
}


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    font-size: 30px;
}

textarea{
    border: 2px solid grey;
}

.field1{
    border-radius: 15px;
}

input{
    text-align: center;
}

.butborrar{
    border-radius: 20px;
}

.butenviar{
    border-radius: 20px;
}

.href1{
    font-family: Helvetica, sans-serif;
    color: white;
}

.input-width {
    width: 80%;
    height: 20px;
}
